<%- include("header.ejs") %>

<style>
.intro{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    padding-bottom: 15px;
    color: white;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.334);
}

.about{
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    font-size: 1.5rem;
    font-style: oblique;
    text-align: center;
    margin-bottom: 50px;
}

ul{
    margin-top: -10px;
}

.features{
    margin-left: 60px;
    margin-right: 80px;
    color: white;
    font-size: 1.2rem;
    font-style: oblique;
    margin-bottom: 60px;
}

.side-heading{
    font-style: normal;
    margin-top: 10px;
    font-size: 1.5rem;
}
</style>

<div class="intro">
    <h1>About Us</h1>
</div>
<div class="profile">
    <img src="images/PostIT.jpeg" alt="PostIT Logo">
</div>
<p class="about">PostIT is a versatile and user-friendly blog website designed to provide a seamless platform for users to share their thoughts, stories, and ideas with the world. With PostIT, users can easily create, view, edit, and delete blog posts, making it an ideal solution for both casual bloggers and professional writers.</p>
<div class="intro">
    <h2>Key Features</h2>
</div>
<ul class="features">
    <li> <h4 class="side-heading">Create Posts:</h3> Effortlessly craft new blog posts with a rich text editor that supports various formatting options. Add titles, images, and content to share your stories and insights.</li>
    <li> <h4 class="side-heading">View Posts:</h3> Browse through all the published posts in an organized and visually appealing layout. Each post can be viewed in detail, allowing readers to immerse themselves in the content.</li>
    <li> <h4 class="side-heading">Edit Posts:</h3> Update your existing posts with ease. Whether you need to correct a typo, add more information, or completely revamp your content, the editing feature provides full flexibility.</li>
    <li> <h4 class="side-heading">Delete Posts:</h3> Remove any posts that are no longer relevant or that you wish to retract. The delete function ensures that your blog remains up-to-date and clutter-free.</li>
</ul>

<%- include("footer.ejs") %>