<%- include("header.ejs") %>

<style>
.intro{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    padding-bottom: 15px;
    color: white;
}

.contact-info{
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    font-size: 1.5rem;
    font-style: oblique;
    margin-bottom: 143px;
}
</style>

<div class="intro">
    <h1>Contact Us</h1>
</div>
<ul class="contact-info">
    <li>Email: <a href="https://gmail/support@postit.com">support@postit.com</a></li>
<!--* To navigate to an external website like Google when clicking on an email link, 
you need to use the full URL with the http:// or https:// prefix. -->
    <li>Phone: <a href="">+91 99888 54321</a></li>
    <li>Address: IIT Tirupati, Yerpedu, Tirupati - 517619 <a href="https://maps.app.goo.gl/3qQzGYkvboRVfFz87">Link</a></li>
</ul>

<%- include("footer.ejs") %>