    </main>
        <div class="blur px-3 py-2 mt-5 border-top">
            <div class="container">
                <footer class="py-3">
                  <ul class="nav justify-content-center pt-3 pb-3 mb-3">
                    <li class="nav-item"><a href="/about" class="nav-link px-2 text-white text-decoration-none">About</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link px-2 text-white text-decoration-none">Contact Us</a></li>
                    <li class="nav-item"><a href="/feedback" class="nav-link px-2 text-white text-decoration-none">Feedback</a></li>
                  </ul>
                  <p class="text-center text-white text-decoration-none">Copyright © PostIT 2024</p>
                </footer>
            </div>
        </div>
            
        <script>
            function languageChanged() {
                var language = document.getElementById("language").value;
                if (language === "english") {
                    navigateToEng();
                } else if (language === "german") {
                    navigateToGer();
                }
            }
            function navigateToEng() {
                console.log("Navigating to English version");
            }
            function navigateToGer() {
                document.getElementById("ifGerman").innerText = "Aww! Snap";
                console.log("Navigating to German version");
            }
        </script>
  </body>
  
</html>