    </main>

        <footer>
            <label for = "language">Language</label>
            <select name="language" id="language">
                <option value="english">English</option>
                <option value="german">German</option>
            </select>
            <a href="./public/about.html">About</a>
            <a href="./public/contact.html">Contact</a>
            <button type="button" class="feedback">Feedback</button>
            <p>Copyright © PostIT 2024</p>
        </footer>

        <!-- <script>
            function viewEng(){
                console.log("English");
            } -->
            <!-- // document.getElementById('language').addEventListener('change', function() {
            //     var selectedLanguage = this.value;
            //     if (this.value === 'english') {
            //         console.log('English is selected');
            //     } else if (this.value === 'german') {
            //         console.log('German is selected');
            //     }
            // });
            // document.getElementById('language').dispatchEvent(new Event('change')); -->
        <!-- </script> -->
  </body>
  
</html>