<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostIT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="../styles/style.css" rel="stylesheet">
    <script>
        function navigateToHome() {
            window.location.href = '/home';
        }
        document.addEventListener("DOMContentLoaded", () => {
            const currentPath = window.location.pathname;
            const links = {
                '/home': 'home-link',
                '/info': 'info-link',
                '/help': 'help-link',
                '/': 'logout-link'
            };

            if (links[currentPath]) {
                document.getElementById(links[currentPath]).classList.add('active');
            }
        });
    </script>
</head>
<body>
    <main>          
        <!--* using submit type, i'm getting http://localhost:3000/home? -->
        <div class="blur px-3 py-2 border-bottom">
              <div class="d-flex justify-content-center py-2">
      
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                  <li >
                    <a href="/home" class="nav-link text-white" id="home-link">
                      <svg class="bi d-block mx-auto mb-1" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path fill="currentColor" d="M5 22h14a2 2 0 0 0 2-2v-9a1 1 0 0 0-.29-.71l-8-8a1 1 0 0 0-1.41 0l-8 8A1 1 0 0 0 3 11v9a2 2 0 0 0 2 2zm5-2v-5h4v5zm-5-8.59 7-7 7 7V20h-3v-5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v5H5z"></path></svg>
                      Home
                    </a>
                  </li>
                  <li>
                    <a href="/info" class="nav-link text-white" id="info-link">
                      <svg class="bi d-block mx-auto mb-1" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path><path fill="currentColor" d="M11 11h2v6h-2zm0-4h2v2h-2z"></path></svg>
                      Info
                    </a>
                  </li>
                  <li>
                    <a href="/help" class="nav-link text-white" id="help-link">
                      <svg class="bi d-block mx-auto mb-1" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path fill="currentColor" d="M12 6a3.939 3.939 0 0 0-3.934 3.934h2C10.066 8.867 10.934 8 12 8s1.934.867 1.934 1.934c0 .598-.481 1.032-1.216 1.626a9.208 9.208 0 0 0-.691.599c-.998.997-1.027 2.056-1.027 2.174V15h2l-.001-.633c.001-.016.033-.386.441-.793.15-.15.339-.3.535-.458.779-.631 1.958-1.584 1.958-3.182A3.937 3.937 0 0 0 12 6zm-1 10h2v2h-2z"></path><path fill="currentColor" d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path></svg>
                      Help
                    </a>
                  </li>
                  <li>
                    <a href="/" class="nav-link text-white" id="logout-link">
                      <svg class="bi d-block mx-auto mb-1" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path fill="currentColor" d="m2 12 5 4v-3h9v-2H7V8z"></path><path fill="currentColor" d="M13.001 2.999a8.938 8.938 0 0 0-6.364 2.637L8.051 7.05c1.322-1.322 3.08-2.051 4.95-2.051s3.628.729 4.95 2.051 2.051 3.08 2.051 4.95-.729 3.628-2.051 4.95-3.08 2.051-4.95 2.051-3.628-.729-4.95-2.051l-1.414 1.414c1.699 1.7 3.959 2.637 6.364 2.637s4.665-.937 6.364-2.637c1.7-1.699 2.637-3.959 2.637-6.364s-.937-4.665-2.637-6.364a8.938 8.938 0 0 0-6.364-2.637z"></path></svg>
                      Logout
                    </a>
                  </li>
                </ul>
            </div>
          </div>