<%- include("header.ejs") %>
<link href="../styles/viewstyle.css" rel="stylesheet">

<div class="intro">
    <h1>View Posts</h1>
</div>

<div id="posts">
    <div class="post1">
        <a href="view/post1">The Right Kind of Stubborn</a>
    </div>
    <div class="post2">
        <a href="view/post2">The Reddits</a>
    </div>
    <div class="post3">
        <a href="view/post3">How to Start Google</a>
    </div>
    
</div> <%- include("footer.ejs") %>