<%- include("../header.ejs"); %>
<link href="/styles/style.css" rel="stylesheet">
<link href="/styles/poststyle.css" rel="stylesheet">

<div class="blog">
    <h1>The Right Kind of Stubborn</h1>
    <h2>July 2024</h2>
    <p>        Successful people tend to be persistent. New ideas often don't work at first, but they're not deterred. They keep trying and eventually find something that does.

    Mere obstinacy, on the other hand, is a recipe for failure. Obstinate people are so annoying. They won't listen. They beat their heads against a wall and get nowhere.

    But is there any real difference between these two cases? Are persistent and obstinate people actually behaving differently? Or are they doing the same thing, and we just label them later as persistent or obstinate depending on whether they turned out to be right or not?

    If that's the only difference then there's nothing to be learned from the distinction. Telling someone to be persistent rather than obstinate would just be telling them to be right rather than wrong, and they already know that. Whereas if persistence and obstinacy are actually different kinds of behavior, it would be worthwhile to tease them apart. [1]

    I've talked to a lot of determined people, and it seems to me that they're different kinds of behavior. I've often walked away from a conversation thinking either "Wow, that guy is determined" or "Damn, that guy is stubborn," and I don't think I'm just talking about whether they seemed right or not. That's part of it, but not all of it.

    There's something annoying about the obstinate that's not simply due to being mistaken. They won't listen. And that's not true of all determined people. I can't think of anyone more determined than the Collison brothers, and when you point out a problem to them, they not only listen, but listen with an almost predatory intensity. Is there a hole in the bottom of their boat? Probably not, but if there is, they want to know about it.

    It's the same with most successful people. They're never more engaged than when you disagree with them. Whereas the obstinate don't want to hear you. When you point out problems, their eyes glaze over, and their replies sound like ideologues talking about matters of doctrine.

    </p>
</div>

<div class="action-control">
    <div>
        <form action="/home/view/post1/edit" method="GET">
            <button type="submit" class="edit post">Edit Post</button>
        </form>
    </div>

    <div>
        <form action="/home/view/post1/delete" method="GET">
            <button type="submit" class="delete post">Delete Post</button>
        </form>
    </div>
</div>

    <%- include("../footer.ejs") %>